PORT=3000
NODE_ENV=production
MONGODB_URI=mongodb://127.0.0.1:27017/news-explorer-db
JWT_SECRET=replace-with-strong-secret


admin Cruzeiro1921

mongodb+srv://admin:Cruzeiro1921@news-explorer-db.wwbjhlx.mongodb.net/?appName=news-explorer-db